In [ ]:
Name  : Arivazhagan.B

Topic : Pandas Excercise

Email : barivazhagan8@gmail.com

## Pandas

*"Panel Data System" or "Python Data Analysis"-Wes Mckinney-2008*

* It allow us to analze the big  data and make conclusion based on statistical theories.

* It can clean messy data sets and make them readable and relevent.

**Two method used in data Data Manipulation**

Series-It is a one-dimentional array ,holding data of any type.

Dataframe- It is a two-dimentional data structure,like two-dimentional array,or a table with rows and columns.

## Series

**Create Series from python list**

In [186]:
import numpy as np
import pandas as np
L=[10,12,15,20]
S=np.Series(L)
S

0    10
1    12
2    15
3    20
dtype: int64

***How to access the Series Data Element***

In [35]:
print(S[1])
print("*"*30)
print(S[0:3])
print('*'*30)
print(S[::-1])

12
******************************
0    10
1    12
2    15
dtype: int64
******************************
3    20
2    15
1    12
0    10
dtype: int64

In [53]:
import numpy as np
ar=np.arange(6)
print(ar)
s1=pd.Series(ar,index=['A B C D E F'.split()])
s1

[0 1 2 3 4 5]

A    0
B    1
C    2
D    3
E    4
F    5
dtype: int32

In [57]:
print(s1['A'])

0

In [61]:
print(s1[['A','D']])

A    0
D    3
dtype: int32

**Creating Series from Dictionary**

In [80]:
dic={'Id':[202501,20252],'Name':['Hari','Sakthi'],'Deg':['B.sc','B.E'],'Role':['Admin','CAD Eng']}
print(dic)
s2=pd.Series(dic)
s2

{'Id': [202501, 20252], 'Name': ['Hari', 'Sakthi'], 'Deg': ['B.sc', 'B.E'], 'Role': ['Admin', 'CAD Eng']}

Id       [202501, 20252]
Name      [Hari, Sakthi]
Deg          [B.sc, B.E]
Role    [Admin, CAD Eng]
dtype: object

**Creating DataFrame  from List**

In [13]:
from pandas import Series,DataFrame
li=[[10,15,20,25],[40,50,60,70]]
df=DataFrame(li,index=['r1','r2'],columns=['col1','col2','col3','col4'])
df

    col1  col2  col3  col4
r1    10    15    20    25
r2    40    50    60    70

In [90]:
df[['col1','col2']]

    col1  col2
r1    10    15
r2    40    50

**Creating DataFrame From Numpy random package**

In [28]:
from numpy.random import randn
df1=DataFrame(randn(3,3),columns=['x','y','z'])
df1

         x         y         z
0 -0.40914 -0.431575  0.427218
1 -3.59468  0.532413 -0.273431
2  1.84422 -1.805389 -0.519310

**Creating New column**

In [91]:
df1['new']=df1['x']+df1['y']
df1

         x         y         z       new
0 -0.40914 -0.431575  0.427218 -0.840714
1 -3.59468  0.532413 -0.273431 -3.062267
2  1.84422 -1.805389 -0.519310  0.038831

**How to removing column**

In [89]:
df1.drop('new',axis=1)

         x         y         z
0 -0.40914 -0.431575  0.427218
1 -3.59468  0.532413 -0.273431
2  1.84422 -1.805389 -0.519310

An important feature of pandas is a conditional Selection using bracket notation,Very similar to numpy.

**Conditional Selection**

In [101]:
df1

         x         y         z
0 -0.40914 -0.431575  0.427218
1 -3.59468  0.532413 -0.273431
2  1.84422 -1.805389 -0.519310

In [103]:
df1<0

       x      y      z
0   True   True  False
1   True  False   True
2  False   True   True

In [105]:
df1[df1<0]

         x         y         z
0 -0.40914 -0.431575       NaN
1 -3.59468       NaN -0.273431
2      NaN -1.805389 -0.519310

In [109]:
df1[df1['x']>0]

         x         y        z
2  1.84422 -1.805389 -0.51931

In [113]:
df1

         x         y         z
0 -0.40914 -0.431575  0.427218
1 -3.59468  0.532413 -0.273431
2  1.84422 -1.805389 -0.519310

In [123]:
df1[df1['y']>0]

         x         y         z
1 -3.59468  0.532413 -0.273431

In [127]:
df1[(df1['x']>0) & (df1['y']<0)]

         x         y        z
2  1.84422 -1.805389 -0.51931

**Add columns and Index**

In [131]:
dic={'Name':['hari','Sam','Kavi','Mahesh'],'Deg':['B.sc','M.E','B.E','M.Tech']}
print(dic)
df=DataFrame(dic)
df

{'Name': ['hari', 'Sam', 'Kavi', 'Mahesh'], 'Deg': ['B.sc', 'M.E', 'B.E', 'M.Tech']}

     Name     Deg
0    hari    B.sc
1     Sam     M.E
2    Kavi     B.E
3  Mahesh  M.Tech

In [160]:
new_ind='A B C D'.split()
new_ind

['A', 'B', 'C', 'D']

In [178]:
df['new_ind']=new_ind
df

           Name     Deg new_ind
new_ind
A          hari    B.sc       A
B           Sam     M.E       B
C          Kavi     B.E       C
D        Mahesh  M.Tech       D

In [174]:
df.set_index('new_ind',inplace=True)

In [180]:
df

           Name     Deg new_ind
new_ind
A          hari    B.sc       A
B           Sam     M.E       B
C          Kavi     B.E       C
D        Mahesh  M.Tech       D

**How to read dataset Using Pandas in Python**

** Read in the Excel file us a dataframe called df **

In [1]:
import pandas as pd
import numpy as np
df=pd.read_excel(r"C:\Users\ELCOT\Desktop\csv file\netflix_titles.xlsx",'netflix_titles')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t..."

head()-It will give us  first five index in your data set

In [15]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

tail-It will give us last five index in your dataset

In [17]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t..."

info-It will give us number of rowsand columns,Non-null value counts, data type and memory space in your dataset.

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8809 non-null   object
 2   title         8809 non-null   object
 3   director      6175 non-null   object
 4   cast          7984 non-null   object
 5   country       7978 non-null   object
 6   date_added    8799 non-null   object
 7   release_year  8809 non-null   int64
 8   rating        8805 non-null   object
 9   duration      8806 non-null   object
 10  listed_in     8809 non-null   object
 11  description   8809 non-null   object
dtypes: int64(1), object(11)
memory usage: 826.0+ KB

sample-it will give us any random value in your dataset

In [79]:
df.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6379,s6380,Movie,Brooklyn's Finest,Antoine Fuqua,"Richard Gere, Don Cheadle, Ethan Hawke, Wesley...",United States,"October 1, 2018",2009,R,133 min,"Dramas, Thrillers",Three cops find themselves hurtling toward the...

loc- It is useful when the index of the dataframe is a lable e.x: like a string

In [8]:
df.loc[0:2]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

iloc-it workby looking  for the position in the dataframe

In [12]:
df.iloc[0]

show_id                                                        s1
type                                                        Movie
title                                        Dick Johnson Is Dead
director                                          Kirsten Johnson
cast                                                          NaN
country                                             United States
date_added                                     September 25, 2021
release_year                                                 2020
rating                                                      PG-13
duration                                                   90 min
listed_in                                           Documentaries
description     As her father nears the end of his life, filmm...
Name: 0, dtype: object

isnull().sum()-It will give us to each columns Non-null value count in your dataset.

In [3]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

columns-It will give us all coloumns title in your dataset

In [8]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

How to change the columns Names

In [32]:
new={'show_id':'Id','director':'direc','rating':'rat'}
new

{'show_id': 'Id', 'director': 'direc', 'rating': 'rat'}

In [34]:
df.rename(columns=new)

,Id,type,title,direc,cast,country,date_added,release_year,rat,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t..."

we can show specific columns in your data

In [22]:
df[['title','director']]

                      title         director
0      Dick Johnson Is Dead  Kirsten Johnson
1             Blood & Water              NaN
2                 Ganglands  Julien Leclercq
3     Jailbirds New Orleans              NaN
4              Kota Factory              NaN
...                     ...              ...
8804             Zombieland  Ruben Fleischer
8805                   Zoom     Peter Hewitt
8806                 Zubaan      Mozez Singh
8807     Parasyte: The Grey     Yeon Sang-ho
8808                 Serena     Susanne Bier

[8809 rows x 2 columns]

IMDB-Internet movie Database

In [97]:
import numpy as np
IMDB=np.random.uniform(low=0,high=10,size=len(df['title']))
IMDB=np.around(IMDB,decimals=2)

Adding the "IMDB Rating" column as a new column

In [99]:
df['IMDB rating']=IMDB
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",8.27
1,s2,TV Show,Blood & Water,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi","Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",7.94
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,9.89
3,s4,TV Show,Jailbirds New Orleans,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi",NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",6.17
4,s5,TV Show,Kota Factory,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi","Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,7.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,1.45
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",9.31
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.64
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...,2.25
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t...",9.04

min- It give us minimum value in value in your specific column in your dataset

In [77]:
df['release_year'].min()

1925

max-It give us max value in your data in your dataset

In [84]:
df['release_year'].max()

2024

isnull-It will give we can show your nan null values index of your dataset

In [246]:
df[df.isnull().any(axis=1)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1.49
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",6.99
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,4.50
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",8.80
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,4.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,0.42
8796,s8797,TV Show,Yunus Emre,NaN,"GÃ¶khan Atalay, Payidar TÃ¼fekÃ§ioglu, Baran A...",Turkey,"January 17, 2017",2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves...",5.97
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,8.34
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre...",3.61
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",2.41

dropna- It will  drop nan value iteams which have values in any of the columns

In [253]:
df.dropna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",7.04
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,3.03
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,3.65
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel,...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,7.79
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,2.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,7.30
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.02
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,3.12
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...,0.59
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t...",2.25

In [79]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

**fillna()-It is used to fill your Non-null values in your dataset.

Series([], Name: cast, dtype: object)

In [79]:
df['director']=df['director'].fillna('Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...	',inplace=True)
df['cast']=df['cast'].fillna('Mel Giedroyc',inplace=True)

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_36488\2986812582.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director']=df['director'].fillna('Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...	',inplace=True)
C:\Users\ELCOT\AppData\Local\Temp\ipykernel_36488\2986812582.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cast']=df['cast'].fillna('Mel Giedroyc',inplace=True)

In [75]:
df.isnull().sum()

show_id            0
type               0
title              0
director        8809
cast            8809
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

replace-It will give we can replace your columns values in your dataset

In [266]:
df.replace({'country':{'United States':'US','United Kingdom':'UK','South Africa':'SA'}})

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,US,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1.49
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",SA,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",6.99
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,4.50
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",8.80
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,4.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",US,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,7.30
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",US,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.02
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,3.12
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...,0.59
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",US,"April 5, 2024",2014,A,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t...",2.25

We can use aggregate function  in your dataset.Ex : mean,mode , median , min , max , std.

In [271]:
df['IMDB rating'].describe()

count    8809.000000
mean        5.089582
std         2.893573
min         0.000000
25%         2.540000
50%         5.170000
75%         7.590000
max        10.000000
Name: IMDB rating, dtype: float64

unique-It will give unique iteam in every columns in your dataset

In [101]:
a=df['release_year'].unique()

array([2020, 2021, 1993, 2018, 1996, 1998, 1997, 2010, 2013, 2017, 1975,
       1978, 1983, 1987, 2012, 2001, 2014, 2002, 2003, 2004, 2011, 2008,
       2009, 2007, 2005, 2006, 1994, 2015, 2019, 2016, 1982, 1989, 1990,
       1991, 1999, 1986, 1992, 1984, 1980, 1961, 2000, 1995, 1985, 1976,
       1959, 1988, 1981, 1972, 1964, 1945, 1954, 1979, 1958, 1956, 1963,
       1970, 1973, 1925, 1974, 1960, 1966, 1971, 1962, 1969, 1977, 1967,
       1968, 1965, 1946, 1942, 1955, 1944, 1947, 1943, 2024], dtype=int64)

In [105]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1.49
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",6.99
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,4.50
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",8.80
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,4.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,7.30
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.02
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,3.12
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...,0.59
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t...",2.25

selecting row based on conditions

In [228]:
df[df['country']=='United States'].count()

show_id         2819
type            2819
title           2819
director        2049
cast            2489
country         2819
date_added      2813
release_year    2819
rating          2819
duration        2816
listed_in       2819
description     2819
IMDB rating     2819
dtype: int64

In [166]:
df[['date_added','release_year']].count()

date_added      8799
release_year    8809
dtype: int64

In [ ]:
isnull.any(axis=1)-It Will give us to No of null

In [41]:
df[df.isnull().any(axis=1)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",6.79
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",0.36
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,8.54
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",3.79
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,4.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,4.62
8796,s8797,TV Show,Yunus Emre,NaN,"GÃ¶khan Atalay, Payidar TÃ¼fekÃ§ioglu, Baran A...",Turkey,"January 17, 2017",2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves...",0.27
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,2.12
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre...",8.60
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",2.50

In [19]:
df.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8322,s8323,Movie,The Golem,"Doron Paz, Yoav Paz","Hani Furstenberg, Ishai Golan, Kirill Cernyako...",Israel,"June 26, 2019",2018,TV-MA,95 min,"Horror Movies, Independent Movies, Internation...",As sickness spreads throughout the countryside...

In [168]:
df[df['country']=='Israel']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
533,s534,TV Show,Shtisel,NaN,"Doval'e Glickman, Michael Aloni, Ayelet Zurer,...",Israel,"July 6, 2021",2021,TV-14,3 Seasons,"International TV Shows, TV Dramas",A Haredi family living in an ultra-Orthodox ne...,7.75
833,s834,TV Show,Black Space,NaN,"Guri Alfi, Shai Avivi, Assi Levy, Reut Alush, ...",Israel,"May 27, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A rogue detective with unorthodox means leads ...,1.66
2676,s2677,TV Show,Fauda,NaN,"Lior Raz, Hisham Suliman, Shadi Mar'i, LaÃ«tit...",Israel,"April 16, 2020",2020,TV-MA,3 Seasons,"Crime TV Shows, International TV Shows, TV Act...",A top Israeli agent comes out of retirement to...,7.86
4207,s4208,TV Show,When Heroes Fly,NaN,"Tomer Kapon, Ninet Tayeb, Michael Aloni, Nadav...",Israel,"January 10, 2019",2018,TV-MA,1 Season,"International TV Shows, TV Action & Adventure,...","Years after a bitter falling out, four Israeli...",8.32
4254,s4255,TV Show,Hashoter Hatov,NaN,"Moshe Ivgy, Guy Loel, Yuval Semo, Yigal Adika,...",Israel,"December 28, 2018",2015,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Com...",An honest â€“ though overzealous â€“ police of...,4.41
4776,s4777,TV Show,Mossad 101,NaN,"Yehuda Levi, Yehoram Gaon, Shai Avivi, Liron V...",Israel,"July 11, 2018",2017,TV-MA,2 Seasons,"International TV Shows, TV Action & Adventure,...",Cadets from every level of Israeli society und...,1.10
4826,s4827,Movie,Maktub,Oded Raz,"Guy Amir, Hanan Savyon, Itzik Cohen, Igal Naor",Israel,"June 15, 2018",2018,TV-MA,106 min,"Comedies, International Movies","After surviving a bomb attack, two low-level m...",4.43
7082,s7083,TV Show,Inside the Mossad,NaN,NaN,Israel,"January 29, 2019",2017,TV-14,1 Season,"Docuseries, International TV Shows","In this documentary, dozens of former agents f...",5.84
7625,s7626,Movie,Numbered,"Dana Doron, Uriel Sinai",NaN,Israel,"December 31, 2017",2012,TV-PG,55 min,"Documentaries, International Movies","Guided by survivors' testimonies, this documen...",3.47
7991,s7992,TV Show,Shadow of Truth,NaN,NaN,Israel,"January 27, 2017",2016,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",This documentary series explores the explosive...,4.01
8115,s8116,Movie,Suicide (Hitabdut),Benny Fredman,"Mali Levi, Rotem Keinan, Dror Keren, Igal Naor",Israel,"July 1, 2016",2014,TV-MA,114 min,"International Movies, Thrillers",A failed businessman must kill himself to pay ...,0.39
8322,s8323,Movie,The Golem,"Doron Paz, Yoav Paz","Hani Furstenberg, Ishai Golan, Kirill Cernyako...",Israel,"June 26, 2019",2018,TV-MA,95 min,"Horror Movies, Independent Movies, Internation...",As sickness spreads throughout the countryside...,4.07
8562,s8563,Movie,The Women's Balcony,Emil Ben-Shimon,"Evelin Hagoel, Igal Naor, Orna Banay, Einat Sa...",Israel,"December 19, 2017",2016,TV-PG,100 min,"Comedies, Dramas, Faith & Spirituality",A conservative rabbi steps in to lead a congre...,7.69

In [21]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [23]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t..."

In [62]:
unique=df['release_year'].unique()
unique

array([2020, 2021, 1993, 2018, 1996, 1998, 1997, 2010, 2013, 2017, 1975,
       1978, 1983, 1987, 2012, 2001, 2014, 2002, 2003, 2004, 2011, 2008,
       2009, 2007, 2005, 2006, 1994, 2015, 2019, 2016, 1982, 1989, 1990,
       1991, 1999, 1986, 1992, 1984, 1980, 1961, 2000, 1995, 1985, 1976,
       1959, 1988, 1981, 1972, 1964, 1945, 1954, 1979, 1958, 1956, 1963,
       1970, 1973, 1925, 1974, 1960, 1966, 1971, 1962, 1969, 1977, 1967,
       1968, 1965, 1946, 1942, 1955, 1944, 1947, 1943, 2024], dtype=int64)

In [101]:
unique=df['release_year'].unique()
df.sort_values(by='release_year')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi",NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...,3.77
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...,8.40
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...,4.48
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...,1.34
8763,s8764,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...,8.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,s858,TV Show,The Neighbor,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi","Quim GutiÃ©rrez, Clara Lago, AdriÃ¡n Pino, Cat...",Spain,"May 21, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Spanish-Language TV Sh...",Self-centered Javier's life gets a bit messy w...,4.59
855,s856,TV Show,Jurassic World Camp Cretaceous,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi","Paul-MikÃ©l Williams, Jenna Ortega, Sean Giamb...",United States,"May 21, 2021",2021,TV-Y7,3 Seasons,"Kids' TV, TV Action & Adventure, TV Sci-Fi & F...",Six teens invited to attend a state-of-the-art...,0.84
853,s854,Movie,Army of the Dead,Zack Snyder,"Dave Bautista, Ella Purnell, Omari Hardwick, G...",United States,"May 21, 2021",2021,R,148 min,"Action & Adventure, Horror Movies","After a zombie outbreak in Las Vegas, a group ...",2.20
965,s966,TV Show,Yasuke,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi","LaKeith Stanfield, Takehiro Hira, Maya Tanida,...",NaN,"April 29, 2021",2021,TV-MA,1 Season,"Anime Series, International TV Shows",A peaceful boatman once known as the Black Sam...,6.53
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...,2.25

In [37]:
df.drop_duplicates()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t..."

In [216]:
a_2021=df[df['release_year']==2021] 
a_2021.count()

show_id         592
type            592
title           592
director        297
cast            494
country         383
date_added      592
release_year    592
rating          592
duration        592
listed_in       592
description     592
IMDB rating     592
dtype: int64

What is the name of the highest rating movie?

In [103]:
df[df['release_year']==df['release_year'].max()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...,2.25

In [295]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1.49
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",6.99
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,4.50
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",8.80
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,4.68

Maximum Movie released years?

In [329]:
y=df[df['country']==df['country']]['release_year'].value_counts().head()
y

release_year
2018    1038
2017     966
2019     913
2020     852
2016     838
Name: count, dtype: int64

In [107]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB rating
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",8.27

groupby()-This method to group rows together based of a column name.

In [125]:
df.groupby('release_year')['IMDB rating'].mean()

release_year
1925    3.770000
1942    6.440000
1943    5.243333
1944    6.516667
1945    3.657500
          ...
2018    4.943252
2019    4.995932
2020    5.045813
2021    5.037838
2024    2.250000
Name: IMDB rating, Length: 75, dtype: float64